header{
    color: white;
    background-image: url("/bakgrund.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    
}

.back{
    background-color:black;
    max-width: 40%;
    margin-right: 30%;
    margin-left: 30%;
    align-items: center;
   
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;    
}

button{
    width: 100%;
    padding:10px;

} 

main{
    display: flex;
    background-color: black;
    align-items: flex-start;
}

aside{
    width: 100%;
    background-color: lightslategray;

    display: flex;
    flex-direction: column;
   
}

article img{
    width: 100%;
    height: auto;
    align-items: flex-start;
}

footer{
    background-color: blue;
}

#meny_content{
    display: none;
}

#meny:focus-within > #meny_content{
    display: block;
    flex-direction: column;
}

