header{
    padding-top: 300px;
    text-align: center;
    color: white;
    border: 10px;
    border-color: black;
    background-image: url("/bakgrund.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width:100%;
}

.back{
    background-color:black;
    max-width: 40%;
    margin-right: 30%;
    margin-left: 30%;
   
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

aside{
    width: 30%;
    background-color: lightslategray;
    padding-bottom: 100%;
   
   
   
    
}

article img{
    width: 70%;
    height: auto;
    align-items: flex-start;
}





